<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
    <link rel='stylesheet' type='text/css' href='/stylesheets/master.css'> 
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
</html>