<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css'>
     <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Raleway&display=swap" rel="stylesheet">
    <link rel='stylesheet' type='text/css' href='/stylesheets/master.css'> 
  </head>
  <body>
    <div class='container'>
      <%= yield %>
    </div>
  </body>
  <footer>
  <h6>Donny Mays &#169; 2020</h6>
  </footer>
</html>