<h3> Volunteers </h3>

  <% if @volunteers.any? %>
    <ul>
      <% @volunteers.each do |volunteer| %> 
      <li><a href="/projects/<%= @project.id %>/volunteers/<%= @volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
    </ul>
  <% else %>
    <p> There are not currently any volunteers. </p>  
  <% end %>   


<form action="/volunteers" method="post">
 <div class="form-group">
    <label for="name">Add a Volunteer</label>
    <input id="name" name="name" class="form-control" type="text" required>
  </div>
  <button type="submit" class="btn btn-success">Add Volunteer</button>
</form><br>
<br><br>

<a href="/projects" class="btn btn-info">Go to Projects</a> 